<% provide(:title, "About") %>

<h1>About</h1>
<p>
  <a href="#">Ruby on Rails Tutorial</a>
  is a <a href="#">screencast</a>
  to teach web development with
  <a href="#">Ruby on Rails</a>
  This is sample application for the tutorial.
</p>