<% provide(:title, "About") %>

<h1>About</h1>
<p>
  <a href="root_path">Ruby on Rails Tutorial</a>
  is a <a href="root_path">screencast</a>
  to teach web development with
  <a href="https://railstutorial.jp/">Ruby on Rails</a>
  This is sample application for the tutorial.
</p>